/vendor/
/node_modules/
/cache/*
!/cache/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/log/*
!/storage/log/.gitkeep
/storage/tmp/*
!/storage/tmp/.gitkeep
/storage/posts/*
!/storage/posts/.gitkeep
.env
.phpunit.result.cache