@import '../../../bl/node_modules/bootstrap/scss/bootstrap.scss';
 #canvas {
    position:absolute;
    z-index:-1;
    min-height: 100%;
 }
 .masthead {
    position: relative;
    width: 100%;
    height: auto;
    .container {
        padding-top: 15em;
        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    @media(min-width: 768px) {
        h1 {
          font-size: 4rem;
          line-height: 4rem;
        }
      }
      @media(min-width: 992px) {
        height: 100vh;
        padding: 0;
        h1 {
          font-size: 6.5rem;
          line-height: 6.5rem;
          letter-spacing: 0.8rem;
        }
        h2 {
          max-width: 30rem;
          font-size: 1.25rem;
        }
      }
}
.blink {
    animation-name: blink;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}