$fa-font-path: "/fonts";

@import "../../../bl/node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

.navbar {
    transition: all ease-in 0.5s;
}

#canvas {
    position: absolute;
    z-index: -1;
    // min-height: 100%;
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    .container {
        padding-top: 15em;
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 4rem;
        }
    }
}
.blink {
    animation-name: blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.hexagon {
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    margin: 0 0 0 -80px;
    i {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
.hexagon:hover i {
    animation: fa-spin 2s infinite linear;
}
.transition {
    transition: all ease-in 0.5s;
}
.project.card {
    .card-img-overlay {
        background-color: rgba(139, 38, 0, 0.38);
        opacity: 0;
        height: 0;
        transition: all ease-in 0.5s;
    }
    &:hover {
        .card-img-overlay {
            opacity: 1;
            height: 100%;
        }
    }
}
.post.card {
    .card-img-container {
        &:hover .card-img-top {
            transform: scale(1.3);
        }
    }
}